{% extends 'base.html' %}

{% block navbar %}
    <div class="container sticky-top">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              intelligent workplace @CMU
          </a>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href='{% url 'heating' %}' class="nav-link px-2 link-secondary">heating</a></li>
            <li><a href='{% url 'ventilation' %}' class="nav-link px-2 link-dark">ventilation</a></li>
            <li><a href='{% url 'ac' %}' class="nav-link px-2 link-dark">AC</a></li>
            <li><a href='{% url 'lighting' %}' class="nav-link px-2 link-dark">lighting</a></li>
            <li><a href="{% url 'realtime' %}" class="nav-link px-2 link-dark">realtime</a></li>
          </ul>
          <div class="col-md-3 text-end">
          </div>
        </header>
    </div>
{% endblock %}


{% block layers %}
    <div class="plan_layers">
        {% for plan in plans %}
            {% if plan.picture %}
                <img src="{% url 'planImage' plan.id %}" alt="{{ plan.description }}" id="facilityImage{{ plan.id }}" style="z-index:0">
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


{% block legends %}
    <div class="legends">
    <table class="table table-borderless table-sm center_table" style="width:30%">
        {% for legend in legends %}
            <tr>
                <td><span style='background:#8DD3C7; display: inline-block; width: 40px; height: 40px'></span></td>
                <td><button id="facility{{ legend.id }}" class="btn btn-outline-primary" onclick="placeLayer({{ legend.id }})">{{ legend.name }}</button></td>
                <td><a class="btn btn-link link-secondary" role="button" onclick="seeMoreOn({{ legend.id }})">See more</a></td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {#    placeholder for modals#}
    <div id="modals"></div>
{% endblock %}

{% block historic %}
    {% if items %}
        <div class="container historic">
            <h5>Historical Data</h5>
            {% for item in his_items %}
                <a class="btn btn-link link-secondary" role="button" onclick="acquireHistoric({{ item.id }})">{{ item.label }}</a>
                <script id="scriptForHistoric_{{ item.id }}"></script>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block systemDiagrams %}
    {% if diagrams %}
    <div class="container"><div class="row"><div class="col-11">
        <h5>System Diagrams</h5>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner">

              {% for diagram in diagrams %}
                  {% if diagram.init %}
                      <div class="carousel-item active" data-bs-interval="4000">
                  {% else %}
                      <div class="carousel-item" data-bs-interval="4000">
                  {% endif %}
                  <img src="{% url 'systemDiagram' diagram.id%}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ diagram.title }}</h5>
                  </div>
                  </div>
              {% endfor %}

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
        </div>

    </div><div class="col-1"></div></div></div>
    {% endif %}
{% endblock %}