.plan_layers {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align:center;
}


.plan_layers > img {
    position:absolute;
    transform: translate(-50%, 0);
    left:50%;
    width: auto;
    height: auto;
    max-width: min(90%, 1500px);
}

.center_table {
    margin-left: 35%;
    margin-right: 35%;
}

.legends {
    padding-top: min(50%, 800px);
}

.responsiveImg {
    width: auto;
    height: auto;
    max-width: 90%;
}